.body {
    color: black;
    width: min-content;
    height: min-content;
    text-align: center;
    
    background-size: 100%;
}

.wraper{
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      /* color: black; */

      
  }
  
  #clock {
    font-size: 150px;
    
  }
  
  h1 {
  font-size: 70px;
  }
